<div class="players-reserve-block">
  <h2>Today's Game(s)</h2>
  <h3>{{ reserve.display_date }}</h3>
  {% if reserve.games | length > 0 %}
    {% for game in reserve.games %}
      <h4>{{ game.title }}: {{ game.start_time }} - {{ game.end_time }}</h4>
      {% if game.notes %}
        {{ game.notes }}
      {% endif %}
    {% endfor %}
    <a href="/reserve">
      <button class="players-button players-button--blue">Reserve</button>
    </a>
  {% else %}
    <h3>Currently no game(s) scheduled for today.</h3>
  {% endif %}
</div>
